<div class="modal-container">
    <div class="modal">
        <div class="close-modal" ng-click="$emit('closeModal')"></div>

        <h3>{{::modalOptions.label}}</h3>

        <section>
            <label>
                <span class="input-label">URL</span>
                <input type="text" ng-model="modalOptions.url">
            </label>
        </section>

        <div class="primary-actions">
            <button class="action-btn" ng-click="$emit('applyUrl')">OK</button>
            <button class="action-btn" ng-click="$emit('closeModal')">Cancel</button>
        </div>
    </div>
</div>