body {
    margin: 16px auto;
    max-width: 1000px;
}

test-directive {
    display: inline-block;
}

.custom-style-1 {
    color: #f00;
    text-decoration: underline;
}

div.html-editor {
    min-height: 400px;
}