editor {
  display: block;
  overflow-x: hidden;

  > * {
    box-sizing: border-box;
  }

  .html-editor {
    border: 1px solid #eee;
    padding: 6px 12px 10px;
    text-align: left;

    img {
      cursor: default;
    }
  }

  .code-editor {
    min-width: 100%;
    max-width: 100%;
    padding: 6px 12px;
    min-height: 200px;
  }
}